body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(12, 32, 43);
    padding: 0;
    margin: 0;
}
.navi{
    background-color: whitesmoke;
    margin: 0;
    margin-top: 0;
    padding-top: 20px;
}
.navi ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
    list-style: none;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    color: white;
}

header p{
    margin: 0;
    color: rgb(207, 207, 207);
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
    margin: 50px;
}
.card{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    height: fit-content;
    border-radius: 20px;
    
}

.title{
    height:100px;
    display: flex;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;
    justify-content: space-between;
    color: aliceblue;
}
.title h2{
    align-self: center;
}

.showMore{
    display: flex;
    height: 10%;
    justify-self: center;
    align-items: center;

}

.showMore-button{
    border: none;

}

.description{
    height: 70%;
}

#windows-title{
    background-color: rgb(0, 117, 186) ;
}
#mac-title{
    background-color: rgb(27,170,248);
}
#linux-title{
    background-color: black;
}
.title img{
    height: 100%;
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 10px;
}

.extra-content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
}

.extra-content.show{
    max-height: 100px;
}
